body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#092E20;
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font: 12px/1.4em Verdana,sans-serif;
	font-size:90%;
}
#layout {
	width:90%;
	min-width:800px;
	max-width:1200px;
	___margin: auto;
}
#logo {
	margin-left: 20px;
}
#nav-global {
	position: absolute;
	margin: 0;
	bottom: 0;
	right: 0;
	font-family: "Trebuchet MS",sans-serif;
	white-space: nowrap;
}
#nav-global ul {
	padding-left: 2em;
}
#nav-global li {
	display: block;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#nav-global a {
	display: block;
	float: left;
	padding: 5em 16px 10px 16px;
	background: #092E20;
}
#nav-global a:hover {
	color:white;
        background:#234f32;
}
#nav-global .current a {
	color: white;
	background: #092E20 url(/i/nav_bg.gif) bottom repeat-x;
}
#billboard {
	background: #94DA3A;
	border-bottom: 6px solid #092E20;
	height: 60px;
	background: url(/i/bbd_bg.gif) repeat-x;
	padding: 10px;
	padding-left: 30px;
	box-shadow: 10px 10px 20px #061f15;
}
#billboard h2, #billboard h3 {
	margin: 0;
	font-weight: normal;
	font-family: "Tahoma",sans-serif;
	margin-bottom: 6px;
}
#billboard h2 {
	color: white;
	font-size:18px;
}
#billboard h3 {
	color: #326342;
	font-size:16px;
}
#billboard code {
	color: #092E20;
	font-size:16px;
	font-style:italic;
	margin-left:30px;
}

a:link, a:visited {
	color: #FFC757;
}
a {
	text-decoration: none;
}




h1, h2, h3 {
	margin:0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	width:100%;
	position: relative;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}




#footer {
	width:100%;
	background:#092E20;
	margin-top: 6px;
	margin-bottom: 6px;
}
#footer p {
	font-family: "Tahoma",sans-serif;
	font-size:12px;
	color: #487858;
	padding:10px;
	margin:0;
}

.clear {
	clear:both;
}

#content {
	background-color:#FFF;
	color: #000;
	font-size:12px;
	padding:10px;
	padding-left: 25px;
	min-width:800px;
	min-height:500px;
	position: relative;
}


#page1, #page2, #page3 {
	margin-bottom:10px;
	float:left;
	color: white;
}
#page1 h3, #page2 h3, #page3 h3  {
	font-weight: normal;
}
#page1 dt, #page2 dt, #page3 dt  {
	color: #9AEF3F;
	font-size:14px;
}
#page1 dd, #page2 dd, #page3 dd  {
	margin-top:6px;
	margin-bottom:15px;
	margin-left: 0px;
}
#screenshots {
	width: 100%;
	margin-top:40px;
}
#screenshots img {
	box-shadow: 0 0 10px #000;
	margin:auto;
	width: 150px;
	display:block;
}
#screenshots dl {
	text-align:center;
}
#page3 {
	background-color:#487858;
	width: 75%;
	min-height:500px;
	box-shadow: 10px 10px 20px #295236;
}
#page2 {
	background-color:#326342;
	width: 75%;
	box-shadow: 10px 10px 20px #1c4028;
}
#page1 {
	background-color:#234F32;
	width: 100%;
	box-shadow: 10px 10px 20px #061f15;
}
.f12{
	font-size:12px;
}
.p25 {
	padding: 15px;
	padding-left: 25px;
}
.p10 {
	padding: 10px;
	margin-left: 75%;
}

#abstract {
	background-color:#FFF;
	color: #000;
	font-size:12px;
}
#abstract h1, #abstract h2, #abstract h3 {
	margin:0;
	font-weight: normal;
	margin-bottom:10px;
}
#abstract h2 {
	font-size:22px;	
	color: #092E20;
}

#abstract a {
	color: #AB5603;
	text-decoration: underline;
}

.e404 {
}
.e404 strong {
	color: #f8f8f8;
	font-size: 200px;
	position: absolute;
	left:25px;
	top: 25px;
	display: block;
	line-height:200px;
}
