{extends file="admin_page.html"}

{block name="main"}
	{controller _class=wz_modules id=$_gsdata.gspgid_va.0 _assign=module _assign_type=first}
	<h3>
		<a href="/admin/wizard/module/{$module.id}">{$module.name} / {$module.title}</a>

		<a href="/admin/wizard/commit/{$module.id}">commit</a>
	</h3>	


	<table width=100%>
	<tr>
	<td width=50% valign=top>


		{handler gspgid="/admin/wizard/templates/{$module.id}"}

		<h3><a href="/admin/wizard/urls/{$module.id}">urls</a></h3>
		<ul>
		{foreach from=$module->urls->orderby('type desc, gspgid_value') item=url}
			<li>
					{if $url.type=="get"}
					<a href="/{$module.name}/{$url.gspgid_value}">{$url.type}</a>
					{else}
						{$url.type}
					{/if}
				
				<a href="/admin/wizard/handlers/{$url.id}">{$url.gspgid_value|default:"_DEFAULT_"}</a>
				
				<ul>
				{foreach from=$url.Handlers->orderby('cnt') item=h}
					<li -data-href="/admin/wizard/handlers/{$url.id}/handlers/{$h.id}#form">
						{if $h.handler_keyname!="" && !is_numeric($h.handler_keyname)}{$h.handler_keyname}:{/if}
						{$h.handler_value|wordwrap:80:' ':1}
						{*
						<a href="/admin/wizard/module/{$module.id}/tpl/{$h.id}">tpl</a>
						*}
						{if $_gsdata.gspgid_va.1=='tpl' && $_gsdata.gspgid_va.2==$h.id}
							{handler gspgid="/admin/wizard/choosetpl" Handler_id=$h.id Module_id=$module.id}
						{/if}
					</li>
				{/foreach}
				</ul>
			</li>
		{/foreach}
		</ul>



	</td>
	<td valign=top>
		<h3>apply strategy:</h3>
		<dd>{handler gspgid="/admin/form/strategy" Module_id=$module.id}</dd>

		<h3><a href="/admin/wizard/recordsets/{$module.id}">recordsets</a>  </h3>
		<ul>
		{foreach from=$module.recordsets->orderby('name') item=rs}
			<li><a href="/admin/wizard/recordset_fields/{$rs.id}">{$rs.name}</a> 
				<a href="/admin/wizard/createadmin/{$rs.id}"><img src="/i/admin/ico_gear.png"  class="icon" title="generate admin pages"></a>
				<a href="/admin/wizard/recordsets/{$module.id}/{$rs.id}"><img src="/i/admin/ico_edit.png" alt="Редактировать"  class="icon" title="Редактировать"></a>

				{if $rs.Submodules->count()}({$rs.Submodules}){/if}
				<ul>
				{foreach from=$rs.Fields item=field}
					<li -data-href="/admin/wizard/recordset_fields/{$rs.id}/fields/{$field.id}">
						{$field->text()} 
						<a href="/admin/wizard/recordset_fields/{$rs.id}/fields/{$field.id}"><img src="/i/admin/ico_edit.png" alt="Редактировать"  class="icon" title="Редактировать"></a>
					</li>
				{/foreach}
				{if $rs.Links->count()}<li></li>{/if}
				{foreach from=$rs.Links item=link}
					<li -data-href="/admin/wizard/recordset_fields/{$rs.id}/links/{$link.id}">
						{$link->text()}
						<a href="/admin/wizard/recordset_fields/{$rs.id}/links/{$link.id}"><img src="/i/admin/ico_edit.png" alt="Редактировать"  class="icon" title="Редактировать"></a>
					</li>
				{/foreach}
				</ul>
			</li>
		{/foreach}
		</ul>

		<h3><a href="/admin/wizard/forms/{$module.id}">forms</a>  </h3>
		<ul>
		{foreach from=$module.forms->orderby('classname') item=rs}
			<li><a href="/admin/wizard/form_fields/{$rs.id}">{$rs.classname}</a> </li>
		{/foreach}
		</ul>
	</td>
	</tr>
	</table>
{/block}
