<div class="user_admin">
<a href="/{%$module.name%}/manager"><img src="/i/admin/manager_logo.png" alt=""></a>

{${%$assign%}=$_gsstack.last}
{if ${%$assign%}}
	<div class="login_admin">
	Welcome 
	{%foreach $profile_fields as $f%}
		{${%$assign%}.{%$f%}}
	{%foreachelse%}	
		{${%$assign%}.{%reset($login_fields)%}}
	{%/foreach%}
	<a href="/{%$module.name%}/logout/{%$rs->name%}">logout</a>
	</div>
{else}
	<div class="overlay_login">
	  {handler gspgid="{%$module.name%}/login/form/{%$rs->name%}" }
		<div class="clear"></div>
		<a href="/{%$module.name%}/registration/{%$rs->name%}">registration</a>
	  {handler gspgid="oauth2/checklogin/{%$rs->name%}"}	
	  {handler gspgid="oauth2/loginbuttons"}	
	</div>

{/if}

</div>
